= form_with(model: [@board, @board_column], local: true, class: 'col-12') do |form|
  - if @board_column.errors.any?
    #error_explanation
      %h2= "#{pluralize(@board_column.errors.count, 'error')} prohibited this board column from being saved:"
      %ul
        - @board_column.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'

  .actions.mt-2.text-center
    = link_to 'Cancel', board_path(@board_column.board), class: 'btn btn-outline-info'
    = form.submit 'Save', class: 'btn btn-outline-primary'
