= form_for @board, class: 'col-12' do |form|
  - if @board.errors.any?
    #error_explanation
      %h2= "#{pluralize(@board.errors.count, "error")} prohibited this board from being saved:"
      %ul
        - @board.errors.full_messages.each do |message|
          %li= message

  .form-group.my-2
    = form.label :name
    = form.text_field :name, class: 'form-control'

  .actions.mt-2.text-center
    = link_to 'Cancel', boards_path, class: 'btn btn-outline-info'
    = form.submit 'Save', class: 'btn btn-outline-primary'
