%h1 Boards

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @boards.each do |board|
      %tr
        %td= board.name
        %td
          = link_to 'Show', board, class: 'btn btn-primary btn-sm rounded-0'
          = link_to 'Edit', edit_board_path(board), class: 'btn btn-secondary btn-sm rounded-0'
          = link_to 'Destroy', board, data: {"turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm rounded-0'

= link_to 'New Board', new_board_path, class: 'btn btn-success rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-primary rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-secondary rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-info rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-warning rounded-0 mt-2'


= link_to 'New Board', new_board_path, class: 'btn btn-outline-success rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-outline-primary rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-outline-secondary rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-outline-info rounded-0 mt-2'
= link_to 'New Board', new_board_path, class: 'btn btn-outline-warning rounded-0 mt-2'

