.w-100
  .row
    .d-flex.justify-content-between
      = link_to 'New Board', new_board_path, class: 'btn btn-outline-primary invisible'
      %h1.text-primary-dark-500
        Boards
      %div
        = link_to 'New Board', new_board_path, class: 'btn btn-outline-primary'

  .row
    - @boards.each do |board|
      .col-3.my-3
        .card.border.border-primary-grey-200
          .card-header.bg-primary-grey-200
            .d-flex.justify-content-between.align-items-center
              %h5.card-title.mb-0
                = link_to board.name, board, class: 'link-underline link-underline-opacity-0'
              .d-flex.gap-2
                = link_to edit_board_path(board), class: 'text-default' do
                  %i.bi.bi-pencil.text-primary-dark-600
                = link_to board, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-danger' do
                  %i.bi.bi-trash.text-primary-dark-600
          .card-body.bg-primary-grey-100
            .card-text
              %p
                = "Columns: #{board.board_columns.size}"
              %p
                = "Cards: #{board.board_columns.joins(:cards).count}"
