.board-header
  %h1= @board.name
  = link_to 'New Column', new_board_board_column_path(@board), class: 'btn btn-outline-primary float-end rounded-1'

.board-container
  .board-scroll{data: {controller: "sortable", sortable_group_value: @board.id, sortable_url_value: update_card_positions_board_column_path(":id")}}
    - @board.board_columns.each do |column|
      .board-column{data: {sortable_column_id_value: column.id}}
        = render partial: 'boards/column_header', locals: { column: column }
        .board-column-body{data: {sortable_target: "cardsContainer"}}
          - column.cards.order(:position).each do |card|
            .card.my-1{data: {sortable_id: card.id}}
              = render partial: 'cards/card', locals: { card: card }
        .board-column-footer.text-center.mt-4
          = link_to new_card_url(board_column_id: column.id), class: 'text-success fs-1' do
            .bi.bi-plus
