= form_with(model: @card, local: true, class: 'col-12') do |form|
  - if @card.errors.any?
    - @card.errors.full_messages.each do |message|
      %p.text-center.text-orange-600
        = message

  .form-group.my-2
    = form.label :board_column
    = form.collection_select :board_column_id, BoardColumn.all, :id, :name, {}, class: 'form-control form-select'

  .form-group.my-2
    = form.label :position
    = form.number_field :position, class: 'form-control'

  .form-group.my-2
    = form.label :title
    = form.text_field :title, class: 'form-control'

  .form-group.my-2
    = form.label :description
    = form.text_area :description, class: 'form-control', rows: 4

  .row
    .actions.mt-2.text-center
      = link_to 'Cancel', board_path(@card.board), class: 'btn btn-outline-info'
      = form.submit 'Save', class: 'btn btn-outline-primary'
