<!DOCTYPE html>
<html>
  <head>
    <title>HotwireKanban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="gradient-background">
      <div class="content-container bg-light">
        <%= yield %>
      </div>
    </div>

    <div id="alert-container" class="position-fixed bottom-0 end-0 m-4 p-4">
    </div>
  </body>
</html>
